$color-text-primary: #122945;
$color-text-secondary: #5e7793;
$color-border: #eaf0fa;
$color-background: #ffffff;
$color-wrapper-background: #f1f4f9;
$color-row-hover: #f8fafc;
$color-call-outgoing-success: #28a879;
$color-call-incoming-success: #002cfb;
$color-call-fail: #ea1a4f;
