@use '@/app/styles/variables' as *;
@use '@/app/styles/typography' as *;

.table-wrapper {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 5px 0px #e9edf3;
}

table {
  width: 100%;
  background-color: $color-background;
  border-collapse: separate;
  border-spacing: 0;
}

th,
td {
  height: 65px;
  text-align: left;
  vertical-align: middle;

  padding: 0 0 0 10px;

  &:first-child {
    padding-left: 40px;
  }

  &:last-child {
    padding-right: 40px;
    text-align: right;
  }
}

th {
  color: $color-text-secondary;
  opacity: 87%;
  @include body-m;
}

td {
  color: $color-text-primary;
  @include body-l;
}

.date-separator {
  padding: 24px 40px 12px;
  color: $color-text-primary;
  text-align: left !important;
  @include body-l;

  .date-count {
    margin-left: 1px;
    color: $color-text-secondary;
    font-size: 12px;
    vertical-align: super;
  }
}
