@use '../../../app/styles/variables' as *;
@use '../../../app/styles/typography' as *;

.table-wrapper {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 5px 0px #e9edf3;
}

table {
  width: 100%;
  background-color: $color-background;
  border-collapse: separate;
  border-spacing: 0;
  // table-layout: auto;
}

.call-item {
  cursor: pointer;

  &:hover {
    background-color: $color-row-hover;
  }

  td {
    border-top: 1px solid $color-border;
  }

  &__source {
    color: $color-text-secondary;
    max-width: 150px;
  }
}

th,
td {
  height: 65px;
  text-align: left;
  vertical-align: middle;

  &:first-child {
    padding-left: 40px;
  }

  &:last-child {
    text-align: right;
    padding-right: 40px;
  }
}

th {
  color: $color-text-secondary;
  @include body-m;
}

td {
  color: $color-text-primary;
  @include body-l;
}

.call-item {
  td {
    border-top: 1px solid $color-border;
  }

  &__source {
    color: $color-text-secondary;
    max-width: 150px;
  }
}

.text {
  &-primary {
    color: $color-text-primary;
  }

  &-secondary {
    color: $color-text-secondary;
  }
}

.call-img {
  &.outgoing-success {
    color: $color-call-outgoing-success;
  }

  &.incoming-success {
    color: $color-call-incoming-success;
  }

  &.fail {
    color: $color-call-fail;
  }
}

.date-separator {
  padding: 24px 40px 12px;
  color: $color-text-primary;
  text-align: left !important;
  @include body-l;
}

.date-count {
  margin-left: 1px;
  color: $color-text-secondary;
  font-size: 12px;
  vertical-align: super;
}
